<!DOCTYPE html>
<html lang="en">
<head>

script.
  function loadFile(event) {
    var image = document.getElementById('photo');
    image.src = URL.createObjectURL(event.target.files[0]);
  };
<title>Prediction</title>
<meta charset="utf-8">
</head>
<body>

<h1>Prediction</h1>
 
<img style="max-width:20%" src='images/photo.jpg'  id="photo">
<h5>#{prediction}<h5>
    

</body>
</html>
